.hero {
  margin: 0 20px;
  padding: 50px 80px;
  border-radius: 40px;
  background-color: rgba(49, 52, 53, 1);
  display: grid;
  grid-template-columns: 50% 50%;
}
.hero > div h3 {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 400;
  color: rgba(248, 169, 17, 1);
}
.hero > div h2 {
  font-size: 45px;
  line-height: 60px;
  margin: 15px 0;
  color: white;
}
.hero > div p {
  font-size: 20px;
  line-height: 40px;
  margin: 10px 0;
  color: white;
}
.hero > div nav {
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
  margin: 30px 0;
}
.hero > div nav img {
  margin: 0 10px;
}
.hero > div nav button {
  background: rgb(248, 169, 17);
  color: white;
  border: none;
  height: 45px;
  width: fit-content;
  padding: 0 15px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero > div nav button img {
  width: 20px;
  height: 20px;
}
.hero figure {
  display: flex;
  justify-content: space-between;
}
.hero figure div {
  width: 49%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero figure div:first-of-type img {
  width: auto;
  height: 420px;
  object-fit: cover;
  border-radius: 20px;
}
.hero figure div:last-of-type img {
  width: auto;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 100px;
}
.main h3 {
  margin-top: 50px;
  font-size: 25px;
  transition: all 0.5s ease-in-out;
}
.main > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
  width: 70%;
}
.main > div button {
  border: none;
  background: inherit;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 5px;
  color: #313435;
}
.main > div button.active {
  color: rgb(248, 169, 17);
  border-radius: 2px;
  border-bottom: 5px solid rgb(248, 169, 17);
}
.main > section {
  display: flex;
  width: 100%;
  overflow-x: hidden;
}
.trainings {
  min-width: 100%;
  width: 100%;
  transition: transform 0.8s ease-in-out;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
  margin: 50px 0;
}
.trainings > nav {
  margin: 20px 0;
  padding-bottom: 20px;
  height: auto;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 10px 10px -10px #9c9898;
  display: flex;
  flex-direction: column;
}
.trainings nav:first-of-type,
.trainings nav:nth-of-type(4n) {
  margin-left: 0;
}
.trainings nav:nth-of-type(3n) {
  margin-right: 0;
}
.trainings nav > img {
  width: 100%;
  height: 210px;
  object-fit: fill;
  border-radius: 7px 7px 0 0;
}
.trainings nav h4 {
  margin: 15px 5px;
  color: #313435;
}
.trainings nav p {
  margin: 0 5px;
  color: #313435;
}
.trainings nav button {
  text-decoration: none;
  background: inherit;
  border-radius: 10px;
  border: 2px solid rgb(248, 169, 17);
  padding: 8px 15px;
  width: fit-content;
  margin: 80px auto 10px;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: rgb(248, 169, 17);
}
.trainings nav button:hover {
  background-color: rgb(248, 169, 17);
  color: white;
  border: none;
}
.trainings nav button img {
  margin: 0 10px;
  height: 16px;
}
.trainings nav button:hover img {
  background-color: white;
}

.subscribe {
  padding: 0 100px;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe strong {
  font-size: 18px;
  font-weight: 600;
  margin-right: 40px;
  opacity: 0.7;
}
.subscribe label {
  height: 50px;
  width: 35%;
  display: flex;
}
.subscribe input {
  width: 75%;
  height: 50px;
  background: rgb(238, 239, 247);
  border-radius: 10px 0 0 10px;
  border: none;
  padding: 0 20px;
  font-size: 16px;
}
.subscribe button {
  background: rgba(248, 169, 17, 1);
  color: white;
  border-radius: 0 10px 10px 0;
  border: none;
  width: 25%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 850px) {
  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }
  .subscribe strong {
    margin-right: 0;
    text-align: center;
    font-size: 16px;
    margin: 10px 0;
  }
  .subscribe label {
    width: 100%;
  }
  .subscribe input {
    width: 100%;
    font-size: 14px;
  }
  .subscribe button {
    width: fit-content;
    padding: 0 10px;
    font-size: 14px;
  }
}
