.abt_page {
    color: rgba(49, 52, 53, 1);
}
.hero {
    background-color: rgba(49, 52, 53, 1);
    margin: 0 20px;
    padding: 50px 80px;
    border-radius: 40px;
    background-position:
    top 30px left 25%,
    bottom 60px left 80px,
    top 60% left 35%,
    top 10px right 20%;
    background-image:
    url(./../assets/herobg2.png),
    url(./../assets/herobg4.png),
    url(./../assets/herobg1.png),
    url(./../assets/Mask\ group.png);
    background-size: 25px, 25px, 25px, 550px;
    background-repeat: no-repeat;
}
.hero h4 {
    font-size: 18px;
    font-weight: 400;
    color: rgba(248, 169, 17, 1);
}
.hero h1 {
    color: white;
    font-size: 60px;
    margin: 20px 0;
}
.hero div {
    display: flex;
    align-items: center;
    margin: 80px 0;
}
.hero div img {
    margin-right: 10px;
}
.hero div p {
    color: white;
    line-height: 1.5;
}
.hero div p button {
    color: rgba(248, 169, 17, 1);
    background: inherit;
    border: none;
    outline: none;
}
.vision {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    background-image: url(./../assets/visionbg.png);
    background-position: top 50% right 15%;
    background-size: 350px;
    background-repeat: no-repeat;
}
.vision h3 {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 400;
    color: rgba(248, 169, 17, 1);
}
.vision h2 {
    width: 55%;
    font-size: 40px;
    line-height: 60px;
    margin: 20px 0;
    
}
.vision p {
    width: 50%;
    font-size: 20px;
    line-height: 40px;
    margin: 10px 0;
}
.vision button {
    background: rgb(248, 169, 17);
    color: white;
    border: none;
    height: 45px;
    width: fit-content;
    padding: 0 15px;
    margin: 20px 0;
    font-size: 16px;
}
.identity {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 50px 100px;
    background-image: url(./../assets/identitybg.png);
    background-position: top 50% left 100px;
    background-size: 350px;
    background-repeat: no-repeat;
}
.identity h3 {
    width: 55%;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 400;
    color: rgba(248, 169, 17, 1);
}
.identity h2 {
    width: 55%;
    font-size: 40px;
    line-height: 60px;
    margin: 20px 0;
}
.identity p {
    width: 55%;
    font-size: 20px;
    line-height: 40px;
    margin: 10px 0;
}
.identity button {
    background: rgb(248, 169, 17);
    color: white;
    border: none;
    height: 45px;
    width: fit-content;
    padding: 0 15px;
    margin: 20px auto 20px 45%;
    font-size: 16px;
}
.culture {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    background-image: url(./../assets/visionbg.png);
    background-position: top 50% right 15%;
    background-size: 350px;
    background-repeat: no-repeat;
}
.culture h3 {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 400;
    color: rgba(248, 169, 17, 1);
}
.culture h2 {
    width: 55%;
    font-size: 40px;
    line-height: 60px;
    margin: 20px 0;
    
}
.culture p {
    width: 50%;
    font-size: 20px;
    line-height: 40px;
    margin: 10px 0;
}
.culture button {
    background: rgb(248, 169, 17);
    color: white;
    border: none;
    height: 45px;
    width: fit-content;
    padding: 0 15px;
    margin: 20px 0;
    font-size: 16px;
}
.values {
    display: flex;
    padding: 50px 80px;
}
.values div:first-of-type {
    width: 30%;
}
.values div:first-of-type h3 {
    font-size: 20px;
    font-weight: 400;
    color: rgba(248, 169, 17, 1);
}
.values div:first-of-type h2 {
    font-size: 30px;
    line-height: 40px;
    margin: 20px 0;
}
.values div:first-of-type button {
    background: rgb(248, 169, 17);
    color: white;
    border: none;
    height: 45px;
    width: fit-content;
    padding: 0 15px;
    margin: 20px 0;
    font-size: 16px;
}
.value {
    width: 70%;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.value nav {
    border-radius: 10px;
    box-shadow: 0 0 10px 0 gainsboro;
    margin: 10px;
    padding: 15px;
    line-height: 1.6;
}
.value nav figure {
    height: 60px;
    width: 60px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.value nav img {
    height: 30px;
    width: 30px;
}
.expertise nav h4 {
    color: rgb(49, 52, 53);
    font-size: 18px;
    font-weight: 400;
}
.expertise nav p {
    margin: 10px 0;
    font-size: 16px;
    opacity: 0.6;
}
.feedbacks {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feedbacks h2 {
    color: rgb(49, 52, 53);
    font-size: 23px;
    padding: 10px 0;
    border-bottom: 3px solid;
}
.feedback {
    margin: 50px 0;
    padding: 0 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.feedback nav {
    border-radius: 10px;
    box-shadow: 0 0 10px 0 gainsboro;
    margin: 10px;
    padding: 15px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}
.feedback nav div {
    display: flex;
    margin: 10px 0;
}
.feedback nav div span {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    line-height: 1.7;
}
.feedback nav div span b {
    opacity: 0.6;
}
.feedback span small {
    opacity: 0.3;
}
.feedback span img {
    height: 20px;
    width: fit-content;
}
.feedback nav p {
    font-size: 16px;
    opacity: 0.6;
}
.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subscribe h2 {
    color: rgb(49, 52, 53);
    font-size: 23px;
    padding: 10px 0;
    border-bottom: 3px solid;
}
.subscribe label {
    margin: 50px 0;
    height: 50px;
    width: 35%;
    display: flex;
}
.subscribe input {
    width: 75%;
    height: 50px;
    background: rgb(238, 239, 247);
    border-radius: 10px 0 0 10px;
    border: none;
    padding: 0 20px;
    font-size: 16px;
}
.subscribe button {
    background: rgba(248, 169, 17, 1);
    color: white;
    border-radius: 0 10px 10px 0;
    border: none;
    width: 25%;
    font-size: 16px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
