.hero {
    background-color: rgba(49, 52, 53, 1);
    margin: 0 50px;
    padding: 120px 0;
    height: auto;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position:
    top 50% left 35px,
    top 50% right 35px;
    background-image:
    url(./../assets/carherobg1.png),
    url(./../assets/carherobg2.png);
    background-size: auto 90%, auto 90%;
    background-repeat: no-repeat;
}
.hero h3 {
    color: rgba(248, 169, 17, 1);
    font-size: 22px;
    font-weight: 400;
    margin: 10px 0;
}
.hero h1 {
    color: white;
    font-size: 55px;
    word-spacing: 5px;
    line-height: 60px;
    text-align: center;
    margin: 20px 0;
}
.hero p {
    color: white;
    line-height: 1.5;
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
}
.role {
    width: 50%;
    margin: 100px auto 60px;
    display: flex;
    justify-content: space-between;
}
.role div {
    display: flex;
    flex-direction: column;
}
.role div span {
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.role div span h3 {
    font-size: 24px;
    margin-right: 10px;
}
.role div small {
    display: flex;
    align-items: center;
    font-size: 14px;
    opacity: 0.5;
}
.role div small img {
    height: 15px;
    width: 15px;
    margin: 0 5px;
}
.role button {
    background: rgb(248, 169, 17);
    color: white;
    border: none;
    border-radius: 10px;
    height: 45px;
    width: fit-content;
    font-size: 16px;
    padding: 0 10px;
    cursor: pointer;
}
.abt_role {
    width: 50%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}
.abt_role h4 {
    margin: 20px 0;
}
.abt_role p {
    margin: 10px 0;
    line-height: 30px;
}
.apply {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}
.apply button {
    background: rgb(248, 169, 17);
    color: white;
    border: none;
    border-radius: 10px;
    height: 45px;
    width: fit-content;
    font-size: 16px;
    padding: 0 10px;
    cursor: pointer;
}
.subscribe {
  padding: 0 100px;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe strong {
  font-size: 18px;
  font-weight: 600;
  margin-right: 40px;
  opacity: 0.7;
}
.subscribe label {
  height: 50px;
  width: 35%;
  display: flex;
}
.subscribe input {
  width: 75%;
  height: 50px;
  background: rgb(238, 239, 247);
  border-radius: 10px 0 0 10px;
  border: none;
  padding: 0 20px;
  font-size: 16px;
}
.subscribe button {
  background: rgba(248, 169, 17, 1);
  color: white;
  border-radius: 0 10px 10px 0;
  border: none;
  width: 25%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 850px) { 
.hero {
    margin: 0;
    padding: 20px 15px;
    height: 90vh;
    border-radius: 0;
    justify-content: unset;
    background-position:
    bottom 10px right 50%;
    background-image: url(./../assets/rescarherobg.png);
    background-size: auto;
    background-repeat: no-repeat;
}
.hero h3 {
    font-size: 20px;
}
.hero h1 {
    font-size: 30px;
    word-spacing: 0;
    line-height: 1.5;
    margin: 10px 0;
}
.hero p {
    line-height: 1.5;
    font-size: 16px;
    text-align: center;
}
.role {
    width: 100%;
    padding: 0 15px;
    margin: 20px 0;
    flex-direction: column;
    justify-content: unset;
}
.role div {
    display: flex;
    flex-direction: column;
}
.role div span {
    flex-direction: column;
    justify-content: unset;
    align-items: flex-start;
    line-height: 1.5;
}
.role div i {
    font-size: 14px;
}
.role div span h3 {
    font-size: 18px;
    margin: 0;
}
.role div small {
    font-size: 12px;
}
.role div small img {
    height: 12px;
    width: 12px;
    margin: 0 3px;
}
.role button {
    height: 40px;
    font-size: 14px;
    margin: 10px 0;
}
.abt_role {
    width: 100%;
    margin: 0;
    padding: 0 15px;
}
.abt_role h4 {
    margin: 10px 0;
}
.abt_role p {
    margin: 0;
    line-height: 1.8;
}
.apply {
    margin: 40px 0;
}
.apply button {
    height: 40px;
    font-size: 14px;
}
.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }
  .subscribe strong {
    margin-right: 0;
    text-align: center;
    font-size: 16px;
    margin: 10px 0;
  }
  .subscribe label {
    width: 100%;
  }
  .subscribe input {
    width: 100%;
    font-size: 14px;
  }
  .subscribe button {
    width: fit-content;
    padding: 0 10px;
    font-size: 14px;
  }
}