.hero {
  min-height: 85vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: top 70px left 20%, bottom 100px left 25%,
    top 70px right 20%, bottom 35% right 22%, top 0px left 0px, top 0px left 0px;
  background-image: url(./../assets/brandhero1.png),
    url(./../assets/brandhero2.png), url(./../assets/brandhero3.png),
    url(./../assets/brandhero4.png), url(./../assets/eventbg1.png),
    url(./../assets/eventbg2.png);
  background-size: 30px, 30px, 30px, 30px, 100% 90%, 100% 100%;
  background-repeat: no-repeat;
}
.hero h3 {
  color: rgba(248, 169, 17, 1);
  font-size: 22px;
  font-weight: 400;
  margin: 10px 0;
}
.hero h1 {
  color: white;
  font-size: 55px;
  word-spacing: 5px;
  line-height: 1.5;
  text-align: center;
  margin: 20px 0;
}
.hero p {
  color: white;
  line-height: 1.5;
  font-size: 18px;
  margin: 10px 0;
  text-align: center;
}
.gallery {
  transform: translateY(-70px);
  display: flex;
  justify-content: center;
}
.gallery img {
  width: auto;
  height: auto;
  margin: 15px;
}
.gallery img:nth-of-type(2) {
  transform: translateY(-40px);
}
.gallery img:last-of-type {
  transform: translateY(-80px);
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}
.main > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 100px;
  margin: 40px 0;
}
.main > div h3 {
  font-size: 25px;
  min-width: fit-content;
}
.main > div span {
  height: 5px;
  width: 80%;
  border-radius: 10px;
  background: rgba(248, 169, 17, 1);
}
.events {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  padding: 0 100px;
}
.events > nav {
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px 5px rgba(228, 225, 225, 0.2);
}
.events > nav:first-of-type {
  margin-left: 0;
}
.events > nav:last-of-type {
  margin-right: 0;
}
.events > nav nav {
  background-color: rgba(248, 169, 17, 1);
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.events > nav nav b {
  font-size: 18px;
  font-weight: 800;
}
.events nav strong {
  margin: 10px 0;
  color: #313435;
}
.events nav small {
  display: flex;
  align-items: center;
  opacity: 0.5;
}
.events nav small img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.events nav p {
  color: #313435;
  line-height: 1.7;
  margin: 10px 0;
}
.events nav button {
  text-decoration: none;
  background: inherit;
  border-radius: 10px;
  border: 2px solid;
  padding: 8px 15px;
  width: fit-content;
  margin: 10px 0;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: rgba(248, 169, 17, 1);
}
.events nav button:hover {
  background-color: rgba(248, 169, 17, 1);
  color: white;
  border: none;
}
.events nav button img {
  margin: 0 10px;
  height: 16px;
}
.events nav button:hover img {
  background-color: white;
}
.subscribe {
  padding: 0 100px;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe strong {
  font-size: 18px;
  font-weight: 600;
  margin-right: 40px;
  opacity: 0.7;
}
.subscribe label {
  height: 50px;
  width: 35%;
  display: flex;
}
.subscribe input {
  width: 75%;
  height: 50px;
  background: rgb(238, 239, 247);
  border-radius: 10px 0 0 10px;
  border: none;
  padding: 0 20px;
  font-size: 16px;
}
.subscribe button {
  background: rgba(248, 169, 17, 1);
  color: white;
  border-radius: 0 10px 10px 0;
  border: none;
  width: 25%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 850px) {
  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }
  .subscribe strong {
    margin-right: 0;
    text-align: center;
    font-size: 16px;
    margin: 10px 0;
  }
  .subscribe label {
    width: 100%;
  }
  .subscribe input {
    width: 100%;
    font-size: 14px;
  }
  .subscribe button {
    width: fit-content;
    padding: 0 10px;
    font-size: 14px;
  }
}
