.hero {
  padding: 30px 0;
  height: auto;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero h3 {
  color: rgba(248, 169, 17, 1);
  font-size: 22px;
  font-weight: 400;
  margin: 10px 0;
}
.hero h1 {
  font-size: 55px;
  line-height: 1.5;
  text-align: center;
  margin: 10px 0;
}
.hero p {
  line-height: 1.5;
  font-size: 18px;
  margin: 10px 0;
  text-align: center;
}
.hero label {
  display: flex;
  flex-direction: column;
}
.hero label button {
  background: rgb(248, 169, 17);
  color: white;
  border: none;
  border-radius: 7px;
  height: 45px;
  width: fit-content;
  padding: 0 25px;
  margin: 20px auto;
  font-size: 16px;
}
.hero label span {
  display: flex;
  align-items: center;
}
.hero label span img {
  margin-right: 5px;
}
.details {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
}
.details div {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.details div figure {
  display: flex;
  width: 50%;
}
.details div:last-of-type figure {
  justify-content: flex-end;
}
.details div figure img {
  width: auto;
  height: auto;
}
.details div p {
  width: 50%;
  line-height: 1.7;
  font-size: 18px;
}
.steps {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 50px 0;
  padding: 0 100px;
  position: relative;
}
.steps h3 {
  color: rgb(49, 52, 53);
  font-size: 23px;
  padding: 10px 0;
  margin: 80px auto;
  border-bottom: 3px solid;
}
.steps > img {
    height: 100vh;
}
.steps nav {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: fit-content;
}
.steps label {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  width: fit-content;
}
.steps label button {
  background: rgb(248, 169, 17);
  color: white;
  border: none;
  border-radius: 7px;
  height: 45px;
  width: fit-content;
  padding: 0 25px;
  margin: 0 auto;
  font-size: 16px;
}
.steps label span {
  display: flex;
  align-items: center;
}
.steps label span img {
  margin-right: 5px;
}
.steps nav img {
  height: 100px;
  width: 100px;
}
.steps nav:first-of-type,
.steps nav:nth-of-type(3),
.steps label {
  margin-left: 50%;
}
.steps nav:nth-of-type(2n) {
  margin: 0 50% 0 auto;
}
.subscribe {
  padding: 0 100px;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe strong {
  font-size: 18px;
  font-weight: 600;
  margin-right: 40px;
  opacity: 0.7;
}
.subscribe label {
  height: 50px;
  width: 35%;
  display: flex;
}
.subscribe input {
  width: 75%;
  height: 50px;
  background: rgb(238, 239, 247);
  border-radius: 10px 0 0 10px;
  border: none;
  padding: 0 20px;
  font-size: 16px;
}
.subscribe button {
  background: rgba(248, 169, 17, 1);
  color: white;
  border-radius: 0 10px 10px 0;
  border: none;
  width: 25%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 850px) {
  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }
  .subscribe strong {
    margin-right: 0;
    text-align: center;
    font-size: 16px;
    margin: 10px 0;
  }
  .subscribe label {
    width: 100%;
  }
  .subscribe input {
    width: 100%;
    font-size: 14px;
  }
  .subscribe button {
    width: fit-content;
    padding: 0 10px;
    font-size: 14px;
  }
}
