.footer {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-size: 16px;
    padding-bottom: 50px;
    color: rgba(87, 83, 83, 1);
}
.footer main {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
.footer_abt {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer_abt img {
    margin: 30px;
}
.footer_contact {
    padding: 30px;
}
.footer_contact h3 {
    color: rgba(87, 83, 83, 1);
    font-size: 20px;
    margin: 10px 0;
}
.footer_contact p {
    margin: 30px 0;
}
.footer_nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}
.footer_nav nav {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.footer a {
    margin: 10px 0;
    text-decoration: none;
    color: rgba(87, 83, 83, 1);
}
.footer section {
    display: flex;
    flex-direction: column;
    padding: 0 120px;
    position: relative;
}
.footer section > nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    border-bottom: 2px solid;
}
.footer section a{
    margin: 10px;
}
.footer section div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.foooter .partners {
    display: flex;
    align-items: center;
}
.partners img {
    height: 60px;
    width: 60px;
    margin: 0 10px;
}
.footer .socials img {
    margin: 0 10px;
}
@media only screen and (max-width: 800px) { 
.footer {
    font-size: 14px;
    padding-bottom: 0;
}
.footer main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer_abt {
    padding: 15px;
    align-items: center;
    justify-content: center;
}
.footer_abt img {
    margin: 20px 0;
}
.footer_contact {
    padding: 15px;
}
.footer_contact h3 {
    font-size: 18px;
    margin: 5px 0;
}
.footer_contact p {
    margin: 15px 0;
}
.footer_nav {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.footer_nav nav {
    width: 45%;
    margin: 10px 0;
}
.footer section {
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.footer section > nav {
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-bottom: none;
}
.footer section div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-top: 1px solid;
    text-align: center;
}
.partners {
    display: none;
}
.socials {
    margin: 15px 0;
}
.footer .socials img {
    margin: 0 10px;
}    
.footer section span {
    font-size: 12px;
}
}