.hero {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
}
.hero h3 {
    font-size: 20px;
    font-weight: 400;
    color: rgba(248, 169, 17, 1);
}
.hero h2 {
    width: 50%;
    font-size: 45px;
    line-height: 60px;
    margin: 20px 0;   
}
.gallery {
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery div {
    overflow-x: hidden;
    width: 100%;
    display: flex;
    margin: 20px 0;
}
.gallery figure {
    min-width: 100%;
    width: 100%;
    transition: transform 0.8s ease-in-out;
    display: flex;
    justify-content: space-between;
}
.gallery figure img {
    min-width: 24%;
    width: 23%;
    height: auto;
    object-fit: contain;
}
.gallery button {
    padding: 5px 10px;
    margin: 10px;
    border: none;
    outline: none;
    background: rgba(248, 169, 17, 1);
}
.gallery button.true {
    opacity: 0.5;
}
.details {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    margin: 50px 0;
}
.details h3 {
    color: rgb(49, 52, 53, 0.8);
    font-size: 23px;
    padding: 10px 0;
    margin: 30px auto;
    border-bottom: 3px solid;
}
.details h4 {
    color: rgb(49, 52, 53, 0.8);
    font-size: 20px;
    padding: 10px 0;
    margin: 30px 0;
}
.details p {
    line-height: 1.7;
    color: rgb(49, 52, 53, 0.8);
    font-size: 18px;
    margin: 10px 0;
}
.details button {
    background: rgb(248, 169, 17);
    color: white;
    border: none;
    height: 45px;
    width: fit-content;
    padding: 0 15px;
    margin: 20px 0;
    font-size: 16px;
}
.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subscribe h2 {
    color: rgb(49, 52, 53);
    font-size: 23px;
    padding: 10px 0;
    border-bottom: 3px solid;
}
.subscribe p {
    width: 40%;
    margin-top: 30px;
    text-align: center;
    line-height: 1.6;
    opacity: 0.6;
}
.subscribe label {
    margin: 50px 0;
    height: 50px;
    width: 35%;
    display: flex;
}
.subscribe input {
    width: 75%;
    height: 50px;
    background: rgb(238, 239, 247);
    border-radius: 10px 0 0 10px;
    border: none;
    padding: 0 20px;
    font-size: 16px;
}
.subscribe button {
    background: rgba(248, 169, 17, 1);
    color: white;
    border-radius: 0 10px 10px 0;
    border: none;
    width: 25%;
    font-size: 16px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 850px) { 
.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.subscribe h2 {
    font-size: 18px;
    padding: 10px 0;
    border-bottom: 2px solid;
    width: 60%;
    line-height: 1.5;
    text-align: center;
}
.subscribe p {
    width: 100%;
}
.subscribe label {
    width: 100%;
}
.subscribe input {
    width: 100%;
    font-size: 14px;
}
.subscribe button {
    width: fit-content;
    padding: 0 10px;
    font-size: 14px; 
}
}